.timetable-show td{
    min-width: 90px;
    max-width: 90px;
}

.timetable-show tbody tr td h6{
    font-weight: 800;
    color: #1976d2;
}

.bottom-button .btn{
    margin: 20px;
}

@media(max-width: 768px){
    .timetable-control{
        flex-direction: column;
    }
}