.timetable-show td{
    min-width: 90px;
    max-width: 90px;
    min-height: 40px;
}

.timetable-show td.lession{
    width: 30px!important;
}

.bottom-button .btn{
    margin: 20px;
}

@media(max-width: 768px){
    .timetable-control{
        flex-direction: column;
    }
}